window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false
    opacity 0.9

    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match app-id="pinentry"
    open-floating true
}

window-rule {
    match app-id=r#"^fcitx5-config"#
    open-floating true
}
